.Form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}